*{
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
    /* font-family: Arial; */
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #fffdf0;
}
.header{
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/house-background.jpeg"); */
    position: relative;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #810000;
    padding-left: 3%;
    padding-right: 3%;
}
.header nav img{
    width: 100px;
}
.header nav div{
    margin-left: 30px;
    width: 300px;
}
.header nav div h1{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}
.header nav div h2{
    color: white;
    text-align: center;
    font-size: 18px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    /* color: #f8d410; */
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f8d410;
    display: block;
    margin: auto;
    transition: width 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.slider-container{
    padding-top: 3%;
    width: 65%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    position: relative;
}
.slider-slide{
    display: flex;
    max-width: 100%;
    max-height: 500px;
}
.slider-slide img{
    max-width: 98.8%;
    vertical-align: center;
}
#prevBtn{
    position: absolute;
    top: 45%;
    z-index: 2;
    left: 6%;
    font-size: 80px;
    color: #f8d410;
    cursor: pointer;
    opacity: 0.7;
}
#nextBtn{
    position: absolute;
    top: 45%;
    z-index: 2;
    right: 6%;
    font-size: 80px;
    color: #f8d410;
    cursor: pointer;
    opacity: 0.7;
}
nav .fa{
    display: none;
}

.who{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 3%;
}
.who h1{
    font-size: 36px;
    font-weight: 600;
}
.who .opener{
    padding: 3% 15%;
}
.who .opener p{
    font-size: 18px;
}
.row{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.who-column{
    flex-basis: 31%;
    background: rgba(222, 136, 30, 0.5);
    border-radius: 15px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.who-column img{
    width: 90%;
    height: auto;
}
.who-column h3{
    margin: 10px 0;
}
.who-column h3::after{
    content: '';
    width: 25%;
    height: 2px;
    background-color: rgba(222, 136, 30);
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.who-column p{
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.who-column:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.learn-more{
    background-color: rgba(222, 136, 30, 0.5);
    padding-top: 3%;
    padding-bottom: 100px;
    margin-bottom: 3%;
    align-self: center;
    margin-inline: auto;
    width: 31.2%;
    text-align: center;
    background-size: contain;
    border-radius: 15px;
    transition: 0.5s;
}
.learn-more:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.learn-more .hover-btn{
    top: 50px;
    border-color: rgba(176, 68, 15);
    border-width: 2px;
    font-weight: 600;
    border-radius: 10px;
    color: rgba(176, 68, 15);
}
.learn-more .hover-btn:hover{
    background: rgba(176, 68, 15);
    border-color: rgba(176, 68, 15);
    color: white;
}
.rush{
    padding: 3% 25%;
    text-align: center;
}
.rush h1{
    font-size: 32px;
}
.rush h2{
    font-size: 20px;
}
.rush ul li{
    list-style: none;
}
.rush a{
    color: #f8d410;
}






.footer{
    background-color: #810000;
    color: white;
    padding-top: 45px;
    padding-left: 80px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 40% 30% 20%;
}
.footer h1{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
}
.footer-info h2{
    font-weight: 200;
    font-size: 20px;
}
.footer-nav{
    display: flex;
    flex-direction: column;
}
.footer-nav h1{
    text-align: left;
    margin-bottom: 15px;
}
.footer-nav-links{
    text-align: left;
    align-items: center;
}
.footer-nav-links ul li{
    list-style: none;
    clear: both;
    float: left;
    position: relative;
    padding-bottom: 10px;
}
.footer-nav-links ul li a{
    color: white;
    text-decoration: none;
}
.footer-nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    justify-content: center;
    background: #f8d410;
    clear: both;
    float: inline-start;
    display: block;
    margin: auto;
    transition: width 0.4s;
}
.footer-nav-links ul li a:hover::after{
    width: 100%;
}
.footer-icons .fa{
    font-size: 40px;
    margin-right: 25px;
    color: white;
}
.footer-socials p{
    margin-top: 30px;
}
.footer-footer{
    height: 30px;
}
.history{
    text-align: center;
    padding: 3% 10%;
}
.history h1{
    font-size: 46px;
    margin-bottom: 3%;
}
.history h2{
    font-size: 32px;
}
.info-grid{
    display: grid;
    margin-top: 50px;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; 
    column-gap: 30px;
    row-gap: 50px;
}
.info-grid img{
    width: 100%;
}
.info-grid div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-grid .description-box p{
    text-align: left;
}
.purpose{
    padding: 3% 20%;
    text-align: center;
}
.alumni-board{
    padding: 3% 10%;
}
.alumni-board h2{
    font-size: 32px;
    text-align: center;
}
.alumni-board .board-grid{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 50px;
}
.alumni-board .board-grid div{
    text-align: center;
}
.alumni-board .board-grid a{
    color: #f8d410;
}
.location{
    display: flex;
    padding: 3% 7%;
}
.location p{
    margin-top: 30px;
    line-height: 1.5;
    font-size: 18px;
}
.hover-btn{
    text-decoration: none;
    border: 1px solid;
    padding: 20px 40px;
    background: transparent;
    position: relative;
    transition: 0.3s;
    font-size: 18px;
}
.location .hover-btn{
    top: 100px;
    border-color: #f8d410;
    color: black;
}
.location .hover-btn:hover{
    background: #f8d410;
}
.location iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.contact-box{
    display: flex;
    padding: 3% 7%;
}
.contact-box div{
    padding-right: 3%;
}
.contact-box input, .contact-box textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 2px solid #f8d410;
    /* background-color: #ddd;
    border: none; */
}
.contact-box .hover-btn{
    border-color: #f8d410;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}
.contact-box .hover-btn:hover{
    background: #f8d410;
}
.album-chooser{
    padding: 3% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}
.album-chooser .album{
    display: inline-block;
    position: relative;
    transition: 0.5s ease-in-out;
    width: 340px;
    height: 250px;
}
.album-chooser .album:hover{
    transform: scale(1.05);
}
.album-chooser .album div{
    background: rgba(248, 212, 16, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.album-chooser .album div h2{
    width: 100%;
    height: 100%;
    text-align: center;
    top: 40%;
    transform: translateY(40%);
    color: white;
    font-size: 30px;
}
.album-chooser .album img{
    width: 100%;
    height: 100%;
}
.gallery-main{
    padding-top: 3%;
}
.gallery-name{
    background-color: #f8d410;
    font-size: 30px;
}
.gallery-name h1{
    position: relative;
    left: 10%;
    /* margin-bottom: 3%; */
}
.gallery-photos{
    padding: 3% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    transform: scale(1);
}
.gallery-photos img{
    object-fit: cover;
    width: max-content;
    height: max-content;
    max-width: 350px;
    transition: 0.5s ease-in-out;
    margin: auto;
}
.gallery-photos img:hover{
    transform: scale(1.1);
}
.gallery-name h2{
    background-color: #f8d410;
    font-size: 30px;
    position: relative;
    left: 10%;
}
.activities{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 3% 0;
}
.activities h1{
    font-size: 36px;
    font-weight: 600;
}
.alumni-contact{
    padding: 0 28% 5%;
    text-align: center;
    /* color: #810000; */
}
.alumni-contact h2{
    font-size: 26px;
}
.alumni-contact img{
    width: 30%;
}
.alumni-contact a{
    color: #f8d410;
}
.alumni-contact .hover-btn{
    top: 30px;
    border-color: #f8d410;
    color: black;
}
.alumni-contact .hover-btn:hover{
    background: #f8d410;
}

.alumni-donate{
    padding: 3% 30%;
    text-align: center;
    /* color: #810000; */
}
.alumni-donate a{
    color: #f8d410;
}
.fa-phone, .fa-envelope{
    color: #f8d410;
    margin-right: 3px;
}



@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links{
        position: absolute;
        background: #810000;
        height: 100vh;
        width: 100vw;
        top: 0;
        right: -100vw;
        text-align: left;
        z-index: 5;
        transition: 1s;
    }
    .nav-links ul li{
        display: block;
        text-align: center;
    }
    .nav-links ul li a{
        font-size: 32px;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    #closeBtn{
        font-size: 30px;
        padding: 4%;
    }
    .nav-links ul{
        padding: 30px;
    }

    .slider-container{
        width: 100%;
        padding-top: 0;
    }
    .slider-slide img{
        max-width: 100%;
    }

    .row{
        flex-direction: column;
    }
    .who-column{
        margin-bottom: 35px;
    }

    .learn-more{
        width: 80%;
    }
    .rush{
        padding-inline: 0;
    }
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 27vh;
        padding-left: 30px;
    }
    .footer .footer-nav{
        display: none;
    }

    .info-grid{
        grid-template-columns: 1fr;
    }
    .alumni-board h2{
        font-size: 24px;
    }
    .alumni-board .board-grid{
        grid-template-columns: 1fr;
        row-gap: 15px;
        font-size: small;
    }
    .location div{
        display: none;
    }
    .contact-box{
        flex-direction: column;
    }
    .album-chooser{
        grid-template-columns: 1fr;
        padding: 3% 0;
    }
    .album-chooser a{
        margin: auto;
    }
    .gallery-photos{
        padding: 5% 0;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .gallery-photos img{
        margin: auto;
    }
    
}